@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap')
layer(base);
@import 'tailwindcss';
@import "@nuxt/ui";
@import '../css/theme-ftc.css';

:root {
  --ui-radius: 0px;
}

body {
  background-color: black;
  color: white;
}

.bg-grid {
  animation: grid-move 120s linear infinite;
  background-image: radial-gradient(transparent 40%, black 90%),linear-gradient(to right, var(--color-primary-800) 1px,transparent 1px),linear-gradient(to bottom,var(--color-primary-800) 1px,var(--color-primary-900) 1px);
  background-size: 100% 100%, 40px 40px, 40px 40px;
  background-attachment: scroll, fixed, fixed;
}

.bg-dots {
  background-image: radial-gradient(var(--color-primary-900) 1px, black 3px);
  background-size: 20px 20px;
  animation: parallax linear;
  animation-timeline: scroll(); 
}

.bg-radial {
  background: radial-gradient(125% 125% at 50% 10%,#000 40%,var(--color-primary-600) 100%)
}

.bg-glass {
  background-color: #00000088;
  backdrop-filter: blur(2px);
}

:hover.bg-glass-hover {
  background-color: #00000088;
  backdrop-filter: blur(4px);
}

@keyframes grid-move {
  from { background-position: 0% 0% }
  to { background-position: 100% 100% }
}

@keyframes parallax {
  from {
    background-position: bottom 0% center;
  }
  to {
    background-position: bottom -60% center;
  }
}