:root {
  --primary-generic-50: #fafafa;
  --primary-generic-100: #f5f5f5;
  --primary-generic-200: #e5e5e5;
  --primary-generic-300: #d4d4d4;
  --primary-generic-400: #a3a3a3;
  --primary-generic-500: #737373;
  --primary-generic-600: #525252;
  --primary-generic-700: #404040;
  --primary-generic-800: #262626;
  --primary-generic-900: #171717;
  --primary-generic-950: #0a0a0a;
  --primary-generic: #ffffff;
}