:root {
  --color-generic-primary-50: #ffffff;
  --color-generic-primary-100: #ffffff;
  --color-generic-primary-200: #ffffff;
  --color-generic-primary-300: #ffffff;
  --color-generic-primary-400: #ffffff;
  --color-generic-primary-500: #ffffff;
  --color-generic-primary-600: #525252;
  --color-generic-primary-700: #404040;
  --color-generic-primary-800: #262626;
  --color-generic-primary-900: #171717;
  --color-generic-primary-950: #0a0a0a;
  --color-generic-primary: #ffffff;
}