:root {
  --color-frc-primary-50: #e6f0ff;
  --color-frc-primary-100: #cce0ff;
  --color-frc-primary-200: #99c2ff;
  --color-frc-primary-300: #66a3ff;
  --color-frc-primary-400: #3385ff;
  --color-frc-primary-500: #0066ff;
  --color-frc-primary-600: #0052cc;
  --color-frc-primary-700: #003d99;
  --color-frc-primary-800: #002966;
  --color-frc-primary-900: #001433;
  --color-frc-primary-950: #000a19;
  --color-frc-primary: #0066ff;
}